@font-face {
	font-family: Lato;
	src: url(fonts/Lato-Light.ttf);
}

#calendar {
	font-family: Lato, sans-serif;
	font-weight: lighter;
	color: #323439;
	border: none;
	border-radius: 0;
	height: 45px;
	width: 330px;
	line-height: 45px;
	font-size: 18px;
}

#icon1 {
	background-color: #d5d5d6;
	width: 25px;
	height: 25px;
	cursor: pointer;
	transition: 0.3s;
}

#icon2 {
	background-color: #FFF;
	width: 21px;
	cursor: pointer;
	height: 18px;
}

input {
	padding-left: 20px;
}

.calendar{
	width: 350px;
	height: 400px;
	background-color: #323439;
	-webkit-user-select: none;
	overflow: hidden;
}
.calendarHeader{
	width: 350px;
	font-family: Lato, sans-serif;
	font-weight: lighter;
	height: 45px;
	line-height: 45px;
	font-size: 18px;
	color: #fff;
	background-color: #5a5b5f;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

.arrow{
	cursor: pointer;
	height: 20px;
	padding: 12.5px 30px;
	display: inline-block;
	transition: background-color 0.2s;
}
.left{
	transform: rotate(180deg);
	float: left;
}
.right{
	float: right;
}
.calendarHeaderText {
	cursor: pointer;
	width: 207px;
	display: inline-block;
	transition: background-color 0.2s;
}
.calendarHeaderText:hover, .arrow:hover{
	background-color: rgba(234, 102, 97, 0.5);
}
.calendarMatrix{
	position: relative;
}

.line{
	display: flex;
	justify-content: center;
	align-items: center;
}

.line:first-child{
	margin-top: 30px;
}

.day{
	font-family: Lato;
	font-size: 16px;
	color: #fff;
	margin: 6px 9px;
	padding: 3px;
	text-align: center;
	width: 20px;
	height: 20px;
	display: inline-block;
	cursor: pointer;
	transition: 0.3s;
}
.day:hover, .month:hover, .year:hover{
	background-color: rgba(234, 102, 97, 0.5);
	border-radius: 30px;
}

.year, .month{
	font-family: Lato;
	font-size: 16px;
	color: #fff;
	margin: 20px 11px;
	padding: 3px;
	text-align: center;
	width: 50px;
	height: 20px;
	display: inline-block;
	cursor: pointer;
	border-radius: 30px;
	transition: 0.3s;

}
.month{
	margin: 20px 22px;
}

.DayW{
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: bold;
	cursor: default;
	background-color: inherit!important;
}
.dark{
	color: #838487;
	cursor: default ;
	background-color: inherit!important;
}

.today{
	background-color: #e8736f!important;
	border-radius: 30px;
}

.calendarTodayContainer{
	position: absolute;
	margin-left:-80px;
	left:50%;
	bottom: 15px;
}
.calendarToday:hover{
	background-color: rgba(234, 102, 97, 0.5);
}
.calendarToday{
	font-family: Lato;
	font-size: 16px;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	padding: 10px 20px;
	transition: background-color 0.3s;
	width: 120px;
	display: table;
	background-color: #282a2d;
	border-radius: 32px;
	cursor: pointer;
}


